
.ClockContainer {
	margin-top: 30px;
	margin-bottom:30px;
	width: 200px;
	border: 1px solid black;
}

.ClockOutput {

	display: inline;
}

.programList{
	display: block;
	white-space: nowrap;
	overflow:scroll;
}
.programItem {

	width: 170px;
	border: 1px solid black;
	margin-left: 20px;
	display: inline-block;
}


.dataList {
	list-style-type:none;
    padding-left:0;
}
.data {
    padding-left: 7px;
}

.log {
	margin-left:450px;
	width:500px;
	height:300px;
	overflow:scroll;

	border:1px solid black;
}
