
.ClockContainer {
	margin-top: 30px;
	margin-bottom:30px;
	width: 200px;
	border: 1px solid black;
}

.ClockOutput {

	display: inline;
}

.programList{
	display: block;
	white-space: nowrap;
	overflow:scroll;
}

.programItem {

	width: 170px;
	border: 1px solid black;
	margin-left: 20px;
	display: inline-block;
}

.dataList {
	list-style-type:none;
    padding-left:0;
}

.data {
    padding-left: 7px;
}

.log {
	margin-left:462px;
	width:500px;
	height:300px;
	overflow:scroll;

	border:1px solid black;
}

.log div{
	margin:5px;
}

#readyQueue {

}

#readyQueue > div {
	font-size:11px;
	background-color:#eee;
	display:inline-block;
	border: 1px black solid;
	overflow: scroll;
	max-width: 275;
	margin:5px;
	padding:5px;
}

#waitingQueue > div {
	font-size:11px;
	background-color:#eee;
	display:inline-block;
	border: 1px black solid;
	overflow: scroll;
	max-width: 275;
	margin: 5px;
	padding:5px;
}

#terminatedQueue > div {
	font-size:11px;
	background-color:#eee;
	display:inline-block;
	border: 1px black solid;
	overflow: scroll;
	max-width: 275;
	margin:5px;
	padding:5px;
}
